body {
    padding: 20px;
    background-color: #b6bfe2;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-light.png");
}

button {
    margin-right: 10px;
}
/*  */
/* hr{
    border-color: red;
} */

h1{
    font-family: 'Dancing Script', cursive;
    font-weight: 700;
}


h4{
    font-family: 'Dancing Script', cursive;
    font-weight: 500;
}

li{
    font-family: 'Dancing Script', cursive;
    font-weight: 400;
}